* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fafafc;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
}
body .header {
  position: relative;
  z-index: 9999;
  background-color: #ffffff;
  box-shadow: 0px 2px 12px 0px rgba(10, 17, 61, 0.1);
}
body .header .navbar {
  height: 80px;
  padding: 0 0 0 10px;
}
body .header .navbar .exit-button {
  gap: 10px;
  text-decoration: none;
}
body .header .navbar .exit-button .show-more-icon {
  width: 30px;
  height: 30px;
  background-color: #f1f2f4;
  border-radius: 50%;
  gap: 2px;
}
body .header .navbar .exit-button .show-more-icon div {
  width: 3.83px;
  height: 3.83px;
  background-color: #283168;
  border-radius: 50px;
}
body .header .navbar .exit-button .exit-title {
  color: #0a113d;
}
@media screen and (max-width: 768px) {
  body .header .navbar {
    height: 50px;
    padding: 0 16px;
  }
  body .header .navbar .logo {
    width: 114.71px;
    height: 30px;
  }
  body .header .navbar .exit-icon {
    width: 24.6px;
    height: 18px;
  }
}
body .section-container {
  height: 100%;
}
body .section-container .section-wrapper {
  height: 100%;
}
body .section-container .section-wrapper .sidebar {
  background-color: #ffffff;
  box-shadow: 0px 2px 12px 0px rgba(10, 17, 61, 0.1);
  max-width: 303px;
  width: 100%;
  height: 100%;
  padding: 0;
}
body .section-container .section-wrapper .sidebar .title-container {
  width: 100%;
  padding: 24px 10px 21px 20px;
  border-bottom: 1px solid #f1f2f4;
}
body .section-container .section-wrapper .sidebar .title-container h3 {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.75px;
  height: 35px;
  text-align: left;
  color: #283168;
  margin: 0;
}
body .section-container .section-wrapper .sidebar .information-container {
  padding: 25px 20px;
}
body .section-container .section-wrapper .sidebar .information-container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.75px;
  text-align: left;
  margin-bottom: 24px;
}
body .section-container .card-container {
  padding: 0 0 0 25px;
}
body .section-container .card-container .nav {
  gap: 30px;
  flex-wrap: nowrap;
  padding: 40px 0 33px 0;
  border-bottom: 3px solid #f1f2f4;
}
body .section-container .card-container .nav .nav-item .nav-link {
  position: relative;
  padding: 0;
  height: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-align: center;
  word-wrap: break-word;
  color: #283168;
}
body .section-container .card-container .nav .nav-item .nav-link:focus {
  font-weight: 600;
  position: relative;
}
body .section-container .card-container .nav .nav-item .nav-link:focus::before {
  content: "";
  position: absolute;
  bottom: -36px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #01bba1;
}
body .section-container .card-container .table {
  margin: 0;
  padding: 0 30px 0 0;
}
body .section-container .card-container .table .table-head,
body .section-container .card-container .table .table-card {
  width: 100%;
  padding: 0 0 0 19px;
}
body .section-container .card-container .table .table-head {
  width: 100%;
  margin-top: 30px;
}
body .section-container .card-container .table .table-head div {
  color: #6f7381;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.5px;
  padding: 0;
}
body .section-container .card-container .table .table-card {
  align-items: center;
  margin: 16px 0 0 0;
  width: 100%;
  padding-left: 30px;
  background-color: #ffffff;
  border-radius: 4px;
  min-height: 79px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
body .section-container .card-container .table .table-card .first-line {
  width: 100%;
}
body .section-container .card-container .table .table-card .first-line .items {
  padding: 35px 0;
  color: #3d424c;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
body .section-container .card-container .table .table-card .first-line .items:nth-child(2) {
  line-height: 163.418%;
  letter-spacing: 0.75px;
  text-transform: capitalize;
}
body .section-container .card-container .table .table-card .first-line .items:nth-child(5) {
  line-height: 163.418%;
  letter-spacing: 0.75px;
  text-transform: capitalize;
}
body .section-container .card-container .table .table-card .first-line .items:nth-child(4) {
  font-size: 16px;
  font-weight: 600;
}
body .section-container .card-container .table .table-card .second-line {
  border-top: 1px solid #f1f2f4;
  border-bottom: 1px solid #f1f2f4;
  align-items: center;
  width: 100%;
  min-height: 79px;
}
body .section-container .card-container .table .table-card .second-line div {
  padding: 0;
  color: #3d424c;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.5px;
}
@media screen and (max-width: 767px) {
  body .section-container .card-container {
    padding: 0 15px;
  }
  body .section-container .card-container .nav {
    padding: 24px 0 16px 0;
  }
  body .section-container .card-container .nav .nav-item .nav-link {
    height: 28px;
    line-height: normal;
    letter-spacing: 0.5px;
  }
  body .section-container .card-container .nav .nav-item .nav-link:focus::before {
    bottom: -19px;
  }
  body .section-container .card-container .d-flex {
    margin: 0;
    padding-right: 0;
  }
  body .section-container .card-container .d-flex .transaction-card {
    height: 102px;
  }
}/*# sourceMappingURL=style.css.map */