* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #fafafc;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;
}
body .header {
  position: relative;
  z-index: 9999;
  background-color: #ffffff;
  box-shadow: 0px 2px 12px 0px rgba(10, 17, 61, 0.1);
}
body .header .navbar {
  height: 80px;
  padding: 0 10px;
}
body .header .navbar .exit-button {
  gap: 10px;
  text-decoration: none;
}
body .header .navbar .exit-button .show-more-icon {
  width: 30px;
  height: 30px;
  background-color: #f1f2f4;
  border-radius: 50%;
  gap: 2px;
}
body .header .navbar .exit-button .show-more-icon div {
  width: 3.83px;
  height: 3.83px;
  background-color: #283168;
  border-radius: 50px;
}
body .header .navbar .exit-button .exit-title {
  color: #0a113d;
}
@media screen and (max-width: 768px) {
  body .header .navbar {
    height: 50px;
  }
  body .header .navbar .logo {
    width: 114.71px;
    height: 30px;
  }
  body .header .navbar .exit-icon {
    width: 24.6px;
    height: 18px;
  }
}

.section-container {
  height: 100%;
}
.section-container .section-wrapper {
  height: 100%;
}
.section-container .section-wrapper .sidebar {
  background-color: #ffffff;
  box-shadow: 0px 2px 12px 0px rgba(10, 17, 61, 0.1);
  max-width: 303px;
  width: 100%;
  height: 100%;
  padding: 0;
}
.section-container .section-wrapper .sidebar .title-container {
  width: 100%;
  padding: 24px 10px 21px 20px;
  border-bottom: 1px solid #f1f2f4;
}
.section-container .section-wrapper .sidebar .title-container h3 {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.75px;
  height: 35px;
  text-align: left;
  color: #283168;
  margin: 0;
}
.section-container .section-wrapper .sidebar .information-container {
  padding: 25px 20px;
}
.section-container .section-wrapper .sidebar .information-container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.75px;
  text-align: left;
  margin-bottom: 24px;
}
.section-container .main-section {
  overflow-y: auto !important;
  padding: 0 0 0 25px;
}
.section-container .main-section .nav {
  gap: 30px;
  flex-wrap: nowrap;
  padding: 40px 0 33px 0;
  border-bottom: 3px solid #f1f2f4;
}
.section-container .main-section .nav .nav-item .nav-link {
  position: relative;
  padding: 0;
  height: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-align: center;
  word-wrap: break-word;
  color: #283168;
}
.section-container .main-section .nav .nav-item .nav-link:focus {
  font-weight: 600;
  position: relative;
}
.section-container .main-section .nav .nav-item .nav-link:focus::before {
  content: "";
  position: absolute;
  bottom: -36px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #01bba1;
}
.section-container .main-section .table {
  margin: 0;
  padding: 0 30px 0 0;
}
.section-container .main-section .table .table-head,
.section-container .main-section .table .table-card {
  width: 100%;
  padding: 0 33px 0 19px;
}
.section-container .main-section .table .table-head {
  width: 100%;
  margin: 30px 0 0 0;
}
.section-container .main-section .table .table-head div {
  color: #6f7381;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.5px;
  padding: 0;
}
.section-container .main-section .table .table-card {
  align-items: center;
  margin: 16px 0 0 0;
  width: 100%;
  padding: 0 33px 0 19px;
  background-color: #ffffff;
  border-radius: 4px;
  min-height: 79px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}
.section-container .main-section .table .table-card .first-line {
  width: 100%;
  margin: 0;
}
.section-container .main-section .table .table-card .first-line .items {
  padding: 35px 0;
  color: #3d424c;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.section-container .main-section .table .table-card .first-line .items:nth-child(2) {
  line-height: 163.418%;
  letter-spacing: 0.75px;
  text-transform: capitalize;
}
.section-container .main-section .table .table-card .first-line .items:nth-child(5) {
  line-height: 163.418%;
  letter-spacing: 0.75px;
  text-transform: capitalize;
}
.section-container .main-section .table .table-card .first-line .items:nth-child(4) {
  font-size: 16px;
  font-weight: 600;
}
.section-container .main-section .table .table-card .first-line .open {
  transform: rotate(180deg);
}
.section-container .main-section .table .table-card .second-line {
  border-top: 1px solid #f1f2f4;
  border-bottom: 1px solid #f1f2f4;
  align-items: center;
  width: 100%;
  margin: 0;
  min-height: 79px;
}
.section-container .main-section .table .table-card .second-line div {
  padding: 18px 0;
  color: #3d424c;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}
.section-container .main-section .table .table-card .second-line .date {
  font-size: 15px;
}
.section-container .main-section .table .table-card .second-line .amount {
  font-weight: 600;
}
.section-container .main-section .table .table-card .id {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80px;
}
@media screen and (max-width: 991px) {
  .section-container .main-section {
    padding: 0 15px;
  }
  .section-container .main-section .table {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .section-container .main-section .nav {
    padding: 24px 0 16px 0;
  }
  .section-container .main-section .nav .nav-item .nav-link {
    height: 28px;
    line-height: normal;
    letter-spacing: 0.5px;
  }
  .section-container .main-section .nav .nav-item .nav-link:focus::before {
    bottom: -19px;
  }
  .section-container .main-section .table .table-card {
    padding: 0 26px 0 16px;
  }
  .section-container .main-section .table .table-card .first-line .items {
    padding: 24px 0;
  }
  .section-container .main-section .table .table-card .first-line .items div {
    margin: 0;
    line-height: 22px;
  }
  .section-container .main-section .table .table-card .first-line .items div:nth-child(1) {
    font-size: 12px;
  }
  .section-container .main-section .table .table-card .first-line .items div:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
  }
  .section-container .main-section .table .table-card .first-line .items div:nth-child(3) {
    font-size: 12px;
  }
  .section-container .main-section .table .table-card .second-line {
    padding: 24px 0;
  }
  .section-container .main-section .table .table-card .second-line div {
    padding: 0;
    gap: 24px;
  }
  .section-container .main-section .table .table-card .second-line div div {
    padding: 0;
  }
  .section-container .main-section .table .table-card .second-line div div p {
    margin: 0;
  }
  .section-container .main-section .table .table-card .second-line div div p:nth-child(1) {
    font-size: 12px;
    line-height: 12px; /* 133.333% */
    letter-spacing: 0.5px;
  }
}/*# sourceMappingURL=style.css.map */